{% extends 'base.html' %}

{% block content %}
<h1>The Breakfast Guide</h1>
<div>
    <h2>About the Website</h2>
    <img src="{{ url_for('static',filename='about/banner.jpg') }}"/>
    <p>Tired of the same plain breakfast every morning? Ever wanted to feel like you're in a cafe on the first meal of the day? The Breakfast Guide is here to make that happen! Here you can find a selection of recipes that you can try out at home to change up your breakfast experience :D</p>
</div>
<div>
    <h2>About the Creators</h2>
    <img src="{{ url_for('static',filename='about/bianca.png') }}"/>
    <h3>Bianca</h3>
    <p>Bianca is the co-creator of The Breakfast Guide whose favorite breakfast combination is pili ka kahit ano DGJDKG</p>
    <img src="{{ url_for('static',filename='about/sam.png') }}"/>
    <h3>Sam</h3>
    <p>Sam is the co-creator of The Breakfast Guide whose favorite breakfast combination is fried eggs + pancakes, coffee, and a slice of cake!</p>
</div>
{% endblock %}